
/* Style logotipo del encabezado del registro y recuperar contraseña */
.header-logo {
  border: none;
  top: 5px;
  position: absolute;
  left: 20%;
  height: 60px;
  width: 180px;
}

.header-logo2 {
  border: none;
  top: 10px;
  position: absolute;
  left: 20%;
  height: 60px;
  width: 180px;
    background: white
}

.header-footer {
  position: absolute;
  top: 30px;
  left: 20%;
  height: 130px;
  width: 180px;
}

.divwelcome {
  margin: auto;
  width: 100%;
  height: 700px;
  background-image: url("../img/HOME/bienvenidos_OCA.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.divwelcome2 {
  margin: auto;
  width: 100%;
  height: 700px;
  background-image: url("../img/Politicas/anticorrupciób.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.divwelcome3 {
  margin: auto;
  width: 100%;
  height: 700px;
  background-image: url("../img/Otras políticas/nuestras_politicas.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.divwelcome4 {
  margin: auto;
  width: 100%;
  height: 700px;
  background-image: url("../img/Otras políticas/politicas.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome{
 position: relative;
 color: white;
 font-size: 100px;
 top: 120px;
 margin-bottom: 20px;
 font-weight: bold;  
}

.portal{
 position: relative;
 color: white;
 font-size: 60px;
 top: 120px;
 margin-bottom: 20px;
 font-weight: bold;
}

.option1{
 position: relative;
 color: white;
 font-size: 30px;
 top: 120px;
 margin-bottom: 20px;
 font-weight: bold;
}

.option2{
 position: relative;
 color: white;
 font-size: 25px;
 top: 120px;
 margin-bottom: 20px;
 font-weight: lighter;
}

.option3{
 position: relative;
 color: white;
 font-size: 25px;
 top: 120px;
 margin-bottom: 20px;
 font-weight: bold;
 width: 60%;
}

.btnform {
  position: relative;
  top: 180px;
  width: 10%;
  height: 35px;
  border: 2px solid white;
  background-color: transparent;
}

.btncodigo {
  position: relative;
  top: 280px;
  width: 30%;
  height: 35px;
  border: 2px solid white;
  background-color: transparent;
}

.btnform2 {
  position: relative;
  top: -110%;
  left: 42.5%;
  right: 42.5%;
  width: 15%;
  height: 35px;
  border: 1px solid #00216c;
  background-color: #00216c;
}

.btnform3 {
  color: white;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  top: -110%;
  left: 32.5%;
  left: 32.5%;
  width: 15%;
  height: 35px;
  border: 2px solid #00216c;
  background-color: #00216c;
}

.btnform4 {
  position: relative;
  top: 67px;
  left: 40%;
  right: 40%;
  width: 20%;
  height: 35px;
  border: 1px solid #00216c;
  background-color: #00216c;
}

.divinstructions{
  margin: auto;
  width: 100%;
  height: 400px;
}

.divmsg{
  margin: auto;
  width: 100%;
  height: 700px;
  background-image: url("../img/HOME/clientes.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.divmsg2{
  margin: auto;
  width: 100%;
  height: 400px;
  background-color: white;
}

.divmsg3{
  margin: auto;
  width: 100%;
  height: 200px;
  background-color: #f2f2f1;
}

.map{
  margin: auto;
  width: 100%;
  height: 600px;
  background-color: white;
}

.politicasfooter{
  margin: auto;
  width: 100%;
  height: 1050px;
  background-color: #e5e5e0;
}

.citelumfooter{
  margin: auto;
  width: 100%;
  height: 750px;
  background-color: white;
}

.lblinstrucctions{
 position: relative;
 top: 25px;
 font-size: 22.5px;    
}

.lblquestions{
 position: relative;
 top: 90px;
 font-size: 25px;
 width: 55%;    
}

.lblquestion{
 position: relative;
 margin-top: 30px;
 margin-bottom: 30px;    
 top: 90px;
 left: 20%;
 font-size: 20px;    
}

.lblmsg{
 position: relative;
 top: 125px;
 color: white;
 font-size: 25px;    
}


.paraffo{
position: relative;
top: 160px;    
color: white;
text-align: center;
font-size: 20px; 
width: 70%;
}

.paraffo2{
position: relative;
top: 60px;    
color: black;
text-align: center;
font-size: 20px; 
width: 70%;
}

.paraffo3{
position: relative;
top: 60px;    
color: black;
text-align: center;
font-size: 20px; 
width: 70%;
font-weight: bold;
}

.paraffo4{
position: relative;
top: 60px;    
color: black;
text-align: center;
font-size: 30px; 
}

.paraff5{
position: relative;
top: 200px;    
color: white;
text-align: center;
font-size: 30px; 
width: 65%;
}

.paraff5555{
position: relative;
top: 150px;    
color: white;
text-align: center;
font-size: 30px; 
width: 65%;
}

.paraff55{
position: relative;
top: 160px;    
color: white;
text-align: center;
font-size: 30px; 
width: 65%;
font-weight: lighter;
}

.lbl5{
position: relative;
top: 160px;    
color: white;
text-align: center;
font-size: 15px;
font-weight: lighter;
width: 65%;
}

.lbl6{
position: relative;
top: 180px;    
color: white;
text-align: center;
font-size: 20px; 
width: 65%;
}

.parafo6{
position: relative;
top: 95px;    
color: black;
text-align: center;
font-size: 20px;
left: 20%;
width: 70%;
text-align: justify;
}

.parafocitelum{
position: relative;
top: 125px;    
color: black;
text-align: center;
font-size: 20px;
left: 20%;
width: 70%;
text-align: center;
}

.lblcitelum{
 font-size: 25px;
 font-weight: bold;  
}

.lblcitelumcodigo{
 font-size: 20px;
 font-weight: bold;  
}

.lbltxt{
 font-size: 25px; 
}
.divposition{
  position: relative;
  top: 120px;
  width: 60%;    
}

.divpositio2{
  position: relative;
  top: 50px;
  width: 60%;    
}

.divoptions{
  position: relative;
  top: 25px;
  left: 15%;
  width: 15%;
  height: 180px;
  border-right: 2px solid black;
}

.divoption2{
  position: relative;
  top: -39%;
  left: 33%;
  width: 15%;
  height: 180px;
  border-right: 2px solid black;
}
.divoption3{
  position: relative;
  top: -84%;
  left: 50%;
  width: 15%;
  height: 180px;
  border-right: 2px solid black;
}
.divoption4{
  position: relative;
  top: -129.5%;
  left: 67%;
  width: 15%;
  height: 180px;
  border-right: 2px solid black;
}
.img1{
  position: relative;
  top: 25px;
  width: 70px;
  height: auto;
}

.mapa{
  position: relative;
  width: 50%;
  height: 600px;
}
.lblcom{
  position: relative;
  top: 150px;
  left: 10%;
  width: 70%;
  font-size: 20px;
}
.lblmoreinformation{
  position: relative;
  top: 160px;
  left: 10%;
  font-size: 18px;
}

.iconlocation{
    position: relative;
    left: -58%;
    top: 230px;
    width: 25px;
    height: 25px;
}

.iconlocation2{
    position: relative;
    left: -38%;
    top: 230px;
    width: 25px;
    height: 25px;
}


.lbllocation{
  position: relative;
   top: 210px;
  left: 20%;
  font-size: 15px;
  width: 50%;
}

.iconemail{
    position: relative;
    left: -38%;
    top: 260px;
    width: 25px;
    height: 25px;
}

.lblemail{
  position: relative;
  top: 235px;
  left: 20%;
  font-size: 15px;
  width: 50%;
}

.iconphone{
    position: relative;
    left: -38%;
    top: 300px;
    width: 25px;
    height: 25px;
}

.lblphone{
  position: relative;
  top: 276px;
  left: 20%;
  font-size: 15px;
  width: 50%;
}
.infocontact{
  float: right;
  width: 50%;
  height: 600px;
  background-color: #e5e5e0;
}

.infooptions{
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #e5e5e0;
}

.lbloption1{
position: relative;
top: 70px;
font-size: 20px;    
}

.lbloption2{
position: relative;
top: 90px;
font-size: 15px;
font-weight: bold;
}
.lbloption3{
position: relative;
top: 90px;
font-size: 15px;
}

.lblmsgoption{
 position: relative;
 top: 50px;
 font-size: 15px; 
 text-align: center;
}

.lblmsgoption2{
 position: relative;
 top: 50px;
 font-size: 13px; 
 text-align: center;
}



/* estilo de los cuadro de texto de registro */
.inputregister {
  width: 100%;
  height: 35px;
  border: 0;
  outline: 0;
  text-align:center;
  color: black;
  background-color: #F8F3F2;
}
/* estilo del boton crear usuario*/
.btn-createuser{
 font-weight: bold;
 font-size: 12px;
 height: 30px;
 width: 80%;
 border-radius: 20px;
 padding: 4px 40px;
 color: white;
 background-color: #33ccff;
 border-color: #33ccff;
 border-style: solid;
}

/* estilo del boton crear usuario*/
.btn-recoverpass{
 text-align: center;
 font-size: 12px;
 height: 30px;
 width: 80%;
 border-radius: 20px;
 padding: 4px;
 color: white;
 background-color: #33ccff;
 border-color: #33ccff;
 border-style: solid;
}

/* espacio en blanco */
.div-whitespace{
  width: 100%;
  height: 20px;
 background-color: white;
 border-color: white;
 border-style: white;
}
/* Style the container */
.container {
  margin: auto;
  margin-bottom: -25px;
  width: 80%;
  padding: 10px;
}
/* estilo de la etiqueta terminos y condiciones */
.textlabelchb {
  position: absolute;
  margin: auto;
  top: -17px;
  left: 12px;
  font-size: 10px;
  color: black;
  text-decoration:underline;
}

.textlabelchb2 {
  position: absolute;
  margin: auto;
  top: -17px;
  left: 5px;
  font-size: 11px;
  color: black;
  text-decoration:underline;
}

.divone{
 position: relative;
 left: 18%;
 top: 150px;
 width: 150px;
 height: 150px;
 border: 1px solid black;
}

.lblone{
position: relative;
top: 60px;    
}

.lbltwo{
position: relative;
top: 60px;
font-size: 10px;
}

.divtwo{
 position: relative;
 left: 35%;
 top: 0px;
 width: 150px;
 height: 150px;
 border: 1px solid black;
}

.divthree{
 position: relative;
 left: 53%;
 top: -150px;
 width: 150px;
 height: 150px;
 border: 1px solid black;
}

.divfour{
 position: relative;
 left: 73%;
 top: -300px;
 width: 150px;
 height: 150px;
 border: 1px solid black;
}

.divfive{
 position: relative;
 left: 18%;
 top: -250px;
 width: 150px;
 height: 150px;
 border: 1px solid black;
}

.divsix{
 position: relative;
 left: 35%;
 top: -400px;
 width: 150px;
 height: 150px;
 border: 1px solid black;
}

.divseven{
 position: relative;
 left: 53%;
 top: -550px;
 width: 150px;
 height: 150px;
 border: 1px solid black;
}

.divseight{
 position: relative;
 left: 73%;
 top: -700px;
 width: 150px;
 height: 150px;
 border: 1px solid black;
}
/* estilo de la etiqueta terminos y condiciones */
.textlabelchbl {
  top: -15px;
  position: absolute;
  left: 0;
  font-size: 10px;
  color: black;
  text-decoration:underline;
}



/* estilo del check box */
.checkbox input {
  position: absolute;
  opacity: 0;
}
/* estilo del check box */
.checkbox .overlay {
  position: absolute;
  top: -19px;
  right: 25px;
  height: 17px;
  width: 17px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #33ccff;
  transform: rotate(-90deg);
  transition: all 0.3s;
}
/* estilo del check box */
.checkbox .icon {
  color: #33ccff;
  display: none;
}
/* estilo del check box */
.checkbox input:checked ~ .overlay {
  background-color: #f7f7f8;
  border-radius: 2px;
  transform: rotate(0deg);
  opacity: 1;
  border: 1px solid #33ccff;
}
/* estilo del check box */
.checkbox input:checked ~ .overlay .icon {
  display: block;
}

/* estilo de la imagen que separa la seccion de media*/
.lineaimg2 {
  position: relative;
  margin-right: 60px;
  margin-left: 70px;
  height: 25px;
  margin-bottom: auto;
  top: 10px;
  width: 60%;
}

/* estilo de la imagen que separa la seccion de media*/
.btn-social-media {
  position: relative;
  height: 40px;
  width: 80%;
}
/* estilo del boton registrase con facebook */
.btn-facebook{
 text-align: center;
 width: 80%;
 height: 30px;
 background-color: white; 
 color: blue; 
 border: 2px solid #008CBA;
 border-radius: 20px;
 padding: 6px 17px;
}

/* estilo boton registrarse con gmail */
.btn-gmail{
 text-align: center;
 font-size: 8px;
 width: 80%;
  height: 30px;
 background-color: white; 
 color: red; 
 border: 2px solid #f44336;
 border-radius: 20px;
 padding: 6px 30px;
 font-size: 8pt;
}
/* estilo etiqueta */
.lbl-signup{
   font-size: 12px;
   color: #444242;
}
/* estilo href */
.hrf-signup{
  font-size: 12px;
   color: #008CBA;
}
/* estilo cuadros de texto login */
.outlinenone {
  width: 80%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #e0e0d1;
  font-size: 12px;
}
/* estilo etiqueta terminos y condiciones */
.lbl-chbtyc{
   text-decoration:underline;
   font-size:11px;
}
/* estilo href recuperar contraseña*/
.hrf-recoverpass{
  position: relative;
  top: 15px;
  font-size: 12px;
  text-decoration:underline;
  color: #7D7D7D;
}
/* estilo boton inicio de sesion */
.btn-round{
 border-radius: 20px;
 padding: 6px 80px;
 background-color: #33ccff;
 border-color: #33ccff;
}
/* estilo mensaje recuperar contraseña*/
.div-msg-recover-pass{
  font-size: 18px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
/* estilo mensaje recuperar contraseña completo*/
.div-msg-recover-pass-l{
  font-size: 12px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.header-container {
  width: 100%;
  height: 130px;
}

.footer-container {
  bottom: 0%;
  height: 250px;  
  width: 100%;
}

.divpowerby{
 position:absolute;
 top: 30px;
 left: 70%;
 color: blue;
 font-size: 12px;
 width: 15%;
 height: 130px;
}

.lblfooter2{
 position: relative;
 top: -20px;
 color: #816A6A;
 font-size: 12px;
 float: right;
}

.footer-option1 {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: white;
}

.divspeak{
 position:absolute;
 top: 35%;
 left: 20%;
 color: white;
 font-size: 10px;
 width: 20%; 
}

.divadvice{
 position:absolute;
 top: 35%;
 left: 75%;
 color: white;
 font-size: 10px;
 width: 10%; 
}

.footer-option2 {
  position:relative;
  bottom: 0%;
  width: 100%;
  height: 70px;
  background-color: #323232;
}

.header-login-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 50px;
  width: 80px;
  height: 80px;
  border: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
}
.header-option1 {
  position:absolute;
  width: 100%;
  height: 60px;
  background-color: #00216c;
}

.header-option3 {
  position:absolute;
  width: 100%;
  height: 100px;
  background-color: #00216c;
}

.header-option2 {
  position:absolute;
  width: 100%;
  top: 52px;
  height: 75px;
  background-color: white;
}

.divnumber{
 position:absolute;
 top: 35%;
 left: 50%;
 color: white;
 font-size: 10px;
 width: 30%; 
}

.divemail {
 position:absolute;
 top: 35%;
 left: 65%;
 color: white;
 font-size: 10px;
 width: 30%;
}

.diven {
 position:absolute;
 top: 35%;
 left: 80%;
 color: white;
 font-size: 10px;
 width: 1.5%;
 outline: 0;
 border-right: 1px solid white;
}

.dives {
 position:absolute;
 top: 35%;
 left: 82%;
 color: white;
 font-size: 10px;
 width: 1.5%;
}

.divindex{
 position:absolute;
 top: 35%;
 left: 40%;
 color: #00216c;
 font-size: 12px;
 width: 2.4%; 
}

.divform{
 position:absolute;
 top: 35%;
 left: 46%;
 color: #00216c;
 font-size: 12px;
 width: 5.3%; 
}

.divform2{
 position:absolute;
 top: 35%;
 left: 46%;
 color: #00216c;
 font-size: 12px;
 width: 2.8%; 
}

.divipolitica{
 position:absolute;
 top: 24%;
 left: 54%;
 color: #00216c;
 font-size: 12px;
 text-align: center;    
 width: 8%; 
}

.divipolitica2{
 position:absolute;
 top: 23%;
 left: 53%;
 color: #00216c;
 font-size: 12px;
 text-align: center;    
 width: 6%; 
}

.divcitelum{
 position:absolute;
 top: 24%;
 left: 64%;
 color: #00216c;
 font-size: 12px;
 text-align: center;    
 width: 6%; 
}

.divcitelum2{
 position:absolute;
 top: 28%;
 left: 63%;
 color: #00216c;
 font-size: 12px;
 text-align: center;    
 width: 5%; 
}

.divcontact{
 position:absolute;
 top: 35%;
 left: 73%;
 color: #00216c;
 font-size: 12px;
 width: 4.5%; 
}

.divcontact2{
 position:absolute;
 top: 43%;
 left: 71%;
 color: #00216c;
 font-size: 12px;
 width: 4.5%; 
}

/* Style logotipo del encabezado del registro y recuperar contraseña */
.logo_splash {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 80px;
  width: 180px;
  height: auto;
}

/* Style logotipo del encabezado del registro y recuperar contraseña */
.footer_splash {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom:0px;
  width: 100%;
  height: 150px;
}

.img-icon-usr{
  position: relative;
  top: 5px;  
  width: 15px;
  height: 15px;
}
.lblform{
    position: relative;
    top: -140px;
    left: 18%;
    font-size: 12px;
    color: black;    
} 
.lblform2{
    position: relative;
    top: 10px;
    left: 18%;
    font-size: 12px;
    width: 50%;
    color: black;    
} 
.cb{
    position: relative;
    top: 15px;
    left: -33%;
    font-size: 12px;
    width: 20px;
    height: 20px;
} 
.lblcb{
    position: relative;
    top: 10px;
    left: 23.5%;
    font-size: 12px;
    width: 50%;
    color: black;    
}

.txtareaform{
     color: black;
     position: relative;
     left: 5%;
     top: 50px;
     margin-bottom: 2%;
     background: #E1E1E1;
     border: none;
     font-size: 14px;
     height: 150px;
     padding: 5px;
     width: 60%;
}

.txtareaform2{
     color: black;
     position: relative;
     left: 18%;
     top: 20px;
     margin-bottom: 2%;
     background: #E1E1E1;
     border: none;
     font-size: 14px;
     height: 150px;
     padding: 5px;
     width: 60%;
}
.inputform{
     color: black;
     position: relative;
     left: 18%;
     top: 20px;
     margin-bottom: 2%;
     background: #E1E1E1;
     border: none;
     font-size: 14px;
     height: 50px;
     padding: 5px;
     width: 60%;
}
 .btn-facebook:before {

   content: url(../img/icons/fcb.svg);
   width: 25px;
   height: 25px;
   float: left;
   margin-top: -5px;
   margin-left: -10px;
 }

  .btn-gmail:before {
   content: url(../img/icons/gm.svg);
   width: 25px;
   height: 25px;
   float: left;
   margin-top: -5px;
   margin-left: -20px;
 }
.parrafoscontaemal{
    position: relative;
    left: 10%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}